# The directory Mix will write compiled artifacts to.
/strip_joint/_build/
/strip_joint_door/_build/

# If you run "mix test --cover", coverage assets end up here.
/strip_joint/cover/
/strip_joint_door/cover/

# The directory Mix downloads your dependencies sources to.
/strip_joint/deps/
/strip_joint_door/deps/

# Where third-party dependencies like ExDoc output generated docs.
/strip_joint/doc/
/strip_joint_door/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/strip_joint/.fetch
/strip_joint_door/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
/strip_joint/erl_crash.dump
/strip_joint_door/erl_crash.dump
